* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    transition: all 0.5s;
}

.nav-link:hover {
    border-bottom: 3px solid greenyellow;
}

.titulo-footer {
    padding-bottom: 8px;
    border-bottom: 2px solid greenyellow;
}   

.bg-propio {
    background-color: #f0f6f8;
}

.efecto-opacidad:hover{
  opacity: 0.5;
}


