* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}


.nav-link {
	transition: all 0.5s !important;
}

.nav-link:hover {
	border-bottom: 3px solid greenyellow !important;
}