* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}


.nav-link {
	transition: all 0.5s;
}

.nav-link:hover {
	border-bottom: 3px solid greenyellow;
}

.titulo-footer {
	padding-bottom: 8px;
	border-bottom: 2px solid greenyellow;
}
